{# Base of HTML schema #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Hacker news by GregorWebmaster</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport"/>
        <link href="/assets/main.css" rel="stylesheet">
            <script src="/assets/main.js"></script>
        </head>
        <body>
            {% include 'partials/navbar.twig' %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col">
                        {% block content %}{% endblock %}
                        {% include 'partials/footer.twig' %}
                    </div>
                </div>
            </div>
        </body>
    </html>
