{# Navbar template #}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-info">
    <div class="container">
        <a class="navbar-brand" href="#">Hacker news
            <span>by gregorwebmaster</span>
        </a>
        <button aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#topNavBar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/top">Top</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/best">Best</a>
                </li>
            </ul>
        </div>
    </div>
</nav>