//  1. General settings
//    1.1. import settings & fonts
//    1.2. general classes
//  2. Heaser
//    2.1. Navbar


/* ************************
*
* General settings
*
* ********************** */

//  1.1 import settings & fonts
@import "imports";

//  1.2 general classes
html,
body {
    background-color: #fff;
    margin-top: 2rem;
}

/* ************************
*
* Header
*
* ********************** */

// 2.1. Navbar
.navbar-brand{
    span {
        font-size: .7rem;
        font-style: italic;
    }
}
.navbar-toggler-icon {
    width: 1.2rem;
    height: 1.2rem;
}
