{# Template to presents list of stories #}

{% extends 'partials/base.twig' %}
{% block content %}
    {% for story in stories %}
    <div id="{{story.id}}" class="p-3 mb-2 bg-light border border-info rounded text-dark" data-content-type="{{ story.type }}">
        <a class="lead" href="{{ story.url }}">{{ story.title }} </a>
        <p class="mb-0">
        <small class="text-nowrap text-muted">
        {{ story.score}} {% if story.score == 1 %}point | {% else %}points | {% endif %}
        </small>
        <small class="text-nowrap text-muted">
        by {{ story.by }} | 
        </small>
        <small class="text-nowrap text-muted">
        {{ story.elapsedTime}} | 
        </small>
        <small class="text-nowrap text-muted">
        {% if story.comments %}
            {{ story.comments}} {% if story.comments == 1 %}comment{% else %}comments{% endif %}
        {% else %}
            Discus
        {% endif %}
        </small>
        </p>
        </div>
    {% endfor %}
{% endblock %}